[2019-06-21 08:15] MangelMaxime opened #1 "Make the return code reflect the global result"
Hello @Zaid-Ajaj ,

great work and thank you for starting this tool that has been mentioned several times in the past :)

In general, a program return several "status code" which allow the caller to identify the final result.

So I propose something like:

- `0` -> Everything is fine
- `1` -> Missing `package.json` file [Source](https://github.com/Zaid-Ajaj/Femto/blob/master/Program.fs#L120)
- `2`

[2019-06-21 08:17] MangelMaxime opened #2 "Add params to toggle verbose/non verbose mode"
I find the current logs really helpful to identify what is being done. However, if you have a lot of dependencies, it can quickly become hard to read because of the noise.

I think we could just log the dependencies that are failing and have a summary at the end.

And when in verbose mode, we would have all the actions like done today.

What do you think?

[2019-06-21 08:18] MangelMaxime opened #3 "Remove InstallHint property"
If I understand correctly the README, the hint is "static" and is determined using `InstallHint="npm install date-fns@1.30"`

I think we could remove the `InstallHint` parameter because we already have all the infos needed to generate it.

1. Detect if the project is using `yarn` or `npm`. If the repo contains a `yarn.lock` then it's using `yarn`
2. Extract the version from `>= 1.30.0`
3. Generate

[2019-06-21 09:15] Zaid-Ajaj commented on #1
Hello @MangelMaxime, I am glad you like it!

I agree that the exit result should be correct and not just 0 every time. I think I want to use something like this:
[code]

Actually we can do even better than just proper exit code ;) I was thinking of having a parameter `--json-output` that returns all the analysis information about missing packages and dependency mismatches etc.

Absolutely ❤️ PR's

[2019-06-21 09:23] MangelMaxime commented on #1
We had the same idea about the `enum` :)

And the JSON output is a great idea too I am just not sure yet on how it can be used. I will send a PR to add the `enum`

[2019-06-21 09:25] Zaid-Ajaj commented on #3
I wanted to that at first, just generate the install message or even install the required version directly but the problem is that the `Version` you specify in .fsproj is not really an exact version; it is a *range* of versions (i.e. `>= 1.30.0`)

Using a range you can check whether the installed library (exact) version [satisfies](https://github.com/Zaid-Ajaj/Femto/blob/master/Program.fs#L147) th

[2019-06-21 09:27] Zaid-Ajaj commented on #2
I agree that a compact log would be good but in the first stages I would like to keep the verbose mode as it is now because it will help identity bugs and corner cases fast, the non verbose log mode can be added later

[2019-06-21 12:12] MangelMaxime opened #5 "Propose to run run yarn|npm install for the user"
When detecting that the npm dependencies need to be restored, we could propose to the user to run `yarn install` or `npm install` for him.

This is similar to the behaviour introduce by `webpack@4` where if they don't find `webpack-cli` they propose to run ti for you.

It would give something like that:

[code]

[2019-06-21 12:28] #1 closed

[2019-06-21 12:33] MangelMaxime commented on #3
Ok, I think I have an idea on how to solve this problem.

[2019-06-21 12:35] Zaid-Ajaj commented on #5
Hmm I am not sure, this happens only once, maybe just run the command `yarn install` or `npm install` right away if it hasn't been done before?

[2019-06-21 12:36] Zaid-Ajaj commented on #3
Yeah me too :wink: looks like we just need to parse the output of `npm show <package> versions` then get the minimum version of it, were you thinking of the same thing?

[2019-06-21 13:50] MangelMaxime commented on #3
F*ck, I wanted to cancel my PR because I saw your answer here and I clicked on create...

Whatever, I closed my PR.

My idea was to request NPM registry in order to get all the versions available for a library and then take the `maxSatisfiying` one.

I didn't know about `npm show <package> versions --json`  which in this case can be better, because `npm` will be responsible of resolving the regist

[2019-06-21 13:52] MangelMaxime commented on #5
Yes, we can run it by default indeed as this command will not delete/change anything that's fine to me.

[2019-06-21 13:56] MangelMaxime opened #7 "Dotnet doesn't seems to escape correctly the XML attributes"
I think dotnet doesn't escape correctly the XML attributes (or perhaps XML spec don't allow to do what I describe next).

If you use `<` in the version constraint then `dotnet` can't parse the project...

Take the following `fsproj`:

[code]

If you run `dotnet restore`, you  get:

[code]

This means we can't support all the SemVer syntax...

[2019-06-21 14:04] Zaid-Ajaj commented on #3
Sorry about that :/ I can do it if you don't want to rewrite stuff you already did

Choosing either `maxSatisfying` or `minSatisfying` should be an option, just like paket's [resolver strategy](https://fsprojects.github.io/Paket/dependencies-file.html#Resolver-strategy-for-transitive-dependencies) But I would like to make it the `minSatisfying` the *default* option such that it the "closest" to wh

[2019-06-21 14:12] MangelMaxime commented on #3
No problem, I opened to PR to discuss my ideas and was consider that it still had work to do.

I will create a new PR using your solution and taking into account your comments.

[2019-06-21 14:51] Zaid-Ajaj commented on #7
Omg, this is the last issue I expected to face 😅

I would like to support all possible ranges, a simplifies syntax could help, instead of
[code]
We write
[code]
I know maybe not the best, but it should work, leave this one to me

[2019-06-21 15:52] MangelMaxime commented on #7
One solution could be to have a specific `Femto` file include in the `package` and read that file like Fable read the `fable` folder.

Why not but I would like to support both the standard syntax and this one because hopefully using `<` is not that common... At least, most of us don't do it when lock at the dependencies listed on nuget.

[2019-06-21 16:15] Zaid-Ajaj commented on #7
I would rather not do this because I would need to look for this file and would need a convention that the file is always sibling to the project and I would need to look for .fable directory which we are not doing at the moment.

Yeah of course! people would still use things like `>= 1.30.0` but when dotnet complains just change the operators to `gte` and `lt` then replace them back to `>=` when r

[2019-06-21 23:09] #3 closed

[2019-06-22 06:33] MangelMaxime opened #9 "Is Femto an acronyme or a real word?"
I am wondering is Femto is a real word or if this have a meaning :) Just for curiosity ^^

[2019-06-22 07:46] MangelMaxime opened #10 "Prevents crash of the program"
While working Femto, it happened several time that I run it against an invalid `fsproj` or that I can't restore the project because I don't have the right version of dotnet installed.

In this case, Femto is crashing because I think `ProjectCracker.fullCrack` is throwing an exception that we don't cache.

I think we should wrap

[code]

in a `try ... with ...` block.

Or we could just wrap the ent

[2019-06-22 14:01] Zaid-Ajaj commented on #9
Femto is the name of a character from my favorite manga called "Berserk" :)

[2019-06-22 14:06] Zaid-Ajaj opened #11 "'npm show <package> versions' throws exception on windows"
Getting error on windows:
[code]

[2019-06-22 14:21] MangelMaxime commented on #9
Ok :)

I really need to read this manga :) It's on my list since a long time and now I have one more reason to read it ahah :)

[2019-06-22 14:21] #9 closed

[2019-06-22 14:24] Zaid-Ajaj opened #12 "Yarn hint should be "yard add" instead of "yarn install <pkg>@<version>""

[2019-06-22 14:24] Zaid-Ajaj commented on #9
You are missing out on a master piece, my friend :smile:

[2019-06-22 14:27] #11 closed

[2019-06-22 14:27] #12 closed

[2019-06-22 14:30] Zaid-Ajaj opened #14 "Add option --preview-metadata for library authors"
Add option `--preview-metadata` is for library authors to check that the XML tags used in the F# project file is actually *parsable* and a npm package version can be calculated .

### Example usage
[code]

[2019-06-22 14:31] Zaid-Ajaj commented on #14
Inspired by [this comment](https://github.com/Zaid-Ajaj/Femto/pull/8#issuecomment-504636057) from @MangelMaxime

[2019-06-22 16:06] Zaid-Ajaj opened #16 "Add option --resolve: automatically install required packages"
Now with ability to calculate which packages we need to install, we can combine the packages into a single command and install all the packages needed for the user.

Example usage:
[code]

[2019-06-22 18:23] MangelMaxime commented on #14
I see that as a validation process and propose to name the arg  `--validate`?

This is just a proposition, I do understand why you call it `preview-metadata` but it's a bit long to write ^^. Or perhaps, we could provide `preview-metadata` and an alias `preview`

Also, because we are starting to add several args, I propose to use [Argu](https://github.com/fsprojects/Argu) which is an awesome librar

[2019-06-22 20:53] Zaid-Ajaj commented on #14
Renamed to `--validate` in #15
Validation process now checks that
 - `dotnet restore` works against the validated project
 - `ProjectCracker.fullCrack` works against the validated project
 - a version van be resolved based on metadata available in the project

[2019-06-22 21:08] #5 closed

[2019-06-22 21:08] #14 closed

[2019-06-22 21:08] #10 closed

[2019-06-22 21:08] #7 closed

[2019-06-22 21:16] Zaid-Ajaj commented on #14
About `Argu` I think it is a bit overkill for now since there only two more options to add:
 - `--auto-resolve`
 - `--json`

[2019-06-22 21:17] Zaid-Ajaj commented on #5
Femto now runs `npm install` or `yarn install` if it finds `package.json` with no `node_modules`

[2019-06-22 21:17] Zaid-Ajaj commented on #10
Calls to `ProjectCracker.fullCrack` are now used inside try catch blocks

[2019-06-22 21:32] Zaid-Ajaj opened #17 "Add option --json for machine-readable output"
Running
[code]
Generates JSON report output about the npm dependencies required or missing, I need to think about what exactly is needed and how this JSON should look like. @MangelMaxime Do you have a suggestion?

I was thinking about something like:
[code]

[2019-06-23 08:48] MangelMaxime commented on #17
The JSON looks good it as almost all of the info in it.

I would rename `missing` to `actionRequired` where it can have the values: `none`, `upgrade`, `install`. Because `missing` only have 2 states `true` or `false`.

I would probably also add `downgrade` because it's possible that a package is too new. `upgrade` or `downgrade` can be determine when we have the resolved version by using Semver to

[2019-06-23 13:42] MangelMaxime commented on #14
Probably, but it's really easy to use and generates the CLI documentation for free.

[2019-06-23 16:38] Zaid-Ajaj commented on #17
Does it matter whether a package is missing, outdated or "too new" because the action will always be:  install the package that is resolved based on resolution strategy if installed package is missing or falls outside of the required range

Maybe I am missing something important?

[2019-06-23 16:39] Zaid-Ajaj opened #18 "Use Argu for command line arguments"

[2019-06-23 17:26] Zaid-Ajaj commented on #16
Edit: Actually rename to `--resolve`
[code]

[2019-06-23 17:32] MangelMaxime commented on #17
I don't think you are missing something important.

It's that I find the name of the `missing` property misleading because it's not accurate. If the package is installed then the package is not missing.

If we the goal is to say if a package is ok or not. Then I would rename the `missing` property to `isOk: true|false` or `actionRequired: true|false` or something like that.

[2019-06-23 19:34] #16 closed

[2019-06-23 20:01] MangelMaxime commented on #18
I can work on that one, as I was the initiator for it :)

[2019-06-24 08:21] Zaid-Ajaj opened #20 "Show error messages when unable to resolve packages"
`femto --resolve` only executes un-installation of invalid packages and installation of required packages but doesn't show errors when it is unable to resolve a package

[2019-06-24 08:50] Zaid-Ajaj opened #21 "Resolve conflicts: requiring same package but for different versions"
This scenario is very unlikely to happen but it is possible nonetheless

Resolution conflicts arise when a npm package is being required more than once for different versions. The procedure I am thinking of is simply to resolve a version for each required range and choose the first one that satisfies *all* input version ranges, otherwise we show an error message

### Resolvable conflicts
[code]
Re

[2019-06-24 08:54] #20 closed

[2019-06-24 09:12] MangelMaxime commented on #7
I just remember that `.nuspec` is using `[`, `(`, etc. symbols to represents the version. [Documentation](https://docs.microsoft.com/fr-fr/nuget/reference/package-versioning#version-ranges-and-wildcards)

I suppose they either do that because of legacy heritage or because of the parser being broken.

So the question, is do we want to keep using our own implementation or mimic the behaviour using b

[2019-06-24 09:25] Zaid-Ajaj commented on #7
The use of brackets and parentheses is actually a mathematical notation to represent sets of real numbers, I personally like it but I don't think we need to support multiple notations/syntaxes. If one works fine, it should be enough IMHO

 It can still be added though but we would need to write a parser for it

[2019-06-24 13:15] Zaid-Ajaj opened #23 "--resolve doesn't install multiple packages"
Running `femto --resolve` only resolves one package even though the install expression consists of multiple packages that are separated a space (maybe `CreateProcess` splits again by space?)

[2019-06-24 13:19] #23 closed

[2019-06-24 15:04] MangelMaxime opened #25 "Remove or normalize "@" usage when logging the preview"
When previewing the action the output looks like:

[code]

I would prefer to generate:

[code]

but if we keep the `@` symbol I would prefer to "normalize" the usage by removing the spaces around it.

What do you think?

[2019-06-24 15:13] Zaid-Ajaj commented on #25
Removing `@` makes more sense because the symbol is used for `npm install` so the log becomes:
[code]
Personally I don't mind either of notations

[2019-06-24 16:09] #25 closed

[2019-06-24 16:15] #18 closed

[2019-06-25 07:02] MangelMaxime opened #29 "Detect if the package should be installed as a deps or dev deps"
When uninstalling and installing a package because of a mismatched version we should detect if the package was a deps or dev deps to reinstall it correctly.

We could also ask how to install each deps on having the list using an interactive mode but that less of a problem that the first scenario.

[2019-06-25 09:01] Zaid-Ajaj commented on #29
Actually detecting what kind of package it is in `package.json` is not enough because we can't be sure what type it is if it was missing from `package.json`. Also I would like to automate as much as possible without an interactive mode unless user input is really really required.

This is what propose, extend the XML tags to include what type of dependency it should be, in this case, adding `DevDe

[2019-06-25 09:32] MangelMaxime commented on #29
I thought about `DevDependency="true"` when proposing this issue but I am not sure that we can 100% define that at the library level. Because this is something related to how the user sees its env and bundle the project.

This is the scenario I don't like because potentially the developer had his a reason to put it as a `dependencies` and not as a `devDependency`.

For example, for Bulma, it can b

[2019-06-25 10:20] Zaid-Ajaj commented on #29
I totally understand what you are saying, personally I don't like "god tools" and this discussion is more of "More control and do it yourself approach vs. Less control and let Femto do it"

My suggestions are coming from two assumptions:
 -  A lot of Fable users, especially beginners would like Fable packages to "just work" without having to make decisions about the dependencies
 - Library authors

[2019-06-25 11:07] MangelMaxime commented on #29
The difference between `dependencies` and `devDependencies` is that in production env (when you set `NODE_ENV=production`) then `npm` and `yarn` will not install the `devDependencies` so they will not be present in the `node_modules`.

Even, if in general, people should not serve files from `devDependencies` because the files should be a bundle.

No problem, all I say is for thinking and discussin

[2019-06-25 11:43] Zaid-Ajaj commented on #29
Awesome! it's settled then, I will start implementing both the `DevDependency` feature and fix #21 along the way :smile:

[2019-06-25 14:05] MangelMaxime opened #30 "How to support package with multiple way of installation?"
If we take Font Awesome as an example, there are several ways to use that package.

1. Use `@fortawesome/fontawesome-free`

2. Use `@fortawesome/fontawesome-svg-core` and one of the svg package like `@fortawesome/free-solid-svg-icons`, `@fortawesome/free-regular-svg-icons`, etc.

[2019-06-25 14:09] MangelMaxime opened #31 "Transitive dependencies"
Alright [Fable.DateFunctions](https://github.com/Zaid-Ajaj/Fable.DateFunctions) is now published to nuget with npm dependency metadata. You take it for a spin to test things out.

Another thing I want to test is *transitive* dependencies:

Say I have project called `App` and I install `Fable.Elmish.React` then if I run Femto against `App` it should pick up `react >= 16.8.0` and `react-dom >= 16.8.

[2019-06-25 14:12] MangelMaxime commented on #31
Fulma is actually already a good candidate for testing transitive dependencies because all the packages are referencing each other.

I will work on it as it's needed in order to add Femto support to Fulma.

[2019-06-25 14:21] MangelMaxime opened #32 "If no Femto metadata found don't log as a warning"
If no metadata found don't log as a warning it can be normal. For example, when checking the transitive dependencies it's normal that some packages don't have them.

It's also "normal" that the user project doesn't have the Femto metadata if it's not a library.

`[16:19:22 WRN] Project Fulma.Elmish does not contain npm dependency metadata`

[2019-06-25 14:25] MangelMaxime opened #33 "Resolution project from current directory is broken"
When adding Argu, I made a regression.

We are forced to pass the project path.

Executing this command `dotnet ../../../../Zaid-Ajaj/Femto/bin/Debug/netcoreapp2.2/Femto.dll` print the manual instead of running Femto using the current directory.

[2019-06-25 14:27] MangelMaxime opened #34 "Should we allow passing a directory instead of the full path to the fsproj?"
`dotnet` command allow the user to path a directory `dotnet restore src` and will find the `project` in the direct directory.

It only complains if there are several `project` files in the directory. Should we mimic this behaviour?

[2019-06-25 14:43] Zaid-Ajaj commented on #34
Sounds good to me and the test is simple:
 - if the given project path is a directory (without an extension) then try find the first file within that directory that has extension `.fsproj`

 - if the given path is a file, check that it has extension `.fsproj`

So the program can be used like this:
[code]

[2019-06-25 14:44] Zaid-Ajaj commented on #32
Isn't this catched by [this check](https://github.com/Zaid-Ajaj/Femto/blob/master/Program.fs#L39)?

[2019-06-25 15:01] MangelMaxime commented on #32
I was working on the `--validate` case and so the log error comes from [here](https://github.com/Zaid-Ajaj/Femto/blob/master/Program.fs#L462)

Before support of the transitive dependencies, it made sense to fail here indeed.

Now we transitive dependencies the question is do we want to fail if the "user" project doesn't have the metadata? My answer would be no because if the "user" project is an a

[2019-06-25 15:12] Zaid-Ajaj commented on #32
Yes of course! `--validate` should only fail if versions of *required* dependencies cannot be properly resolved

[2019-06-25 19:54] MangelMaxime commented on #31
Here is what I have so far:

All the projects are referenced using `<ProjectReference>` in the  `*.fsproj` except `Fable.DateFunctions` which is managed using `paket` and is marked as a dependency of `Fulma.`

[code]

When running `femto` against `Fulma.Elmish` which is the top level I get this result:

[code]

I will make sure everything is working and clean the code before sending a PR.

[2019-06-25 20:13] Zaid-Ajaj commented on #31
Wohoo this looks very promising! Way to go 🚀 :rocket:

[2019-06-26 14:14] Zaid-Ajaj opened #36 "Use Thoth.Json.Net everywhere consistently"
Part of [this review](https://github.com/Zaid-Ajaj/Femto/pull/35#discussion_r297655462) by @MangelMaxime

Use `Thoth.Json.Net` instead of the low-level `Newtonsoft.Json`

[2019-06-26 14:21] Zaid-Ajaj opened #37 "Refactor `ResolveAction` and make use of compact records to represent data"
As mentioned by @MangelMaxime in [this review](https://github.com/Zaid-Ajaj/Femto/pull/35#discussion_r297654144)

[2019-06-26 15:02] #21 closed

[2019-06-26 15:02] #29 closed

[2019-06-26 16:05] Zaid-Ajaj opened #38 "Add --version"
Adding `--version` to the input arguments.

[2019-06-26 16:14] MangelMaxime commented on #38
We can also print the `version` when showing the user manual.

Do you know how we will retrieve the version?

[2019-06-26 16:23] Zaid-Ajaj commented on #38
Yeah we could do that but I think it is more common to show the version only when you run `femto --version` like other programs (dotnet, node, npm etc.)

Ideally it would be a `[<Literal>]` in a file called `Version.fs` and whenever we release a new version, the file is modified by the build script target . . . which we don't have yet 😅 like how Fable does it.

For now I guess just updating the ve

[2019-06-26 16:31] MangelMaxime commented on #38
It was my idea too :)

I was curious if their was another solution :)

[2019-06-27 10:39] Zaid-Ajaj opened #40 "Unify resolve preview and project analysis logs"
By @MangelMaxime [in this comment here](https://github.com/Zaid-Ajaj/Femto/pull/39#issuecomment-506288114)

That's what I am thinking of too, not providing any arguments (except project file or path) should be an alias for `--preview` and `--preview` logs can be more nicely formatted

[2019-06-27 10:50] MangelMaxime commented on #40
I think we can just support no argument and remove `--preview`.

The log formatting could be handled by #2.

Like that we go simple for the user.

[2019-06-27 11:24] #31 closed

[2019-06-27 11:24] #32 closed

[2019-06-27 11:53] Zaid-Ajaj commented on #40
Yeah I like that, so in summary:
 - Running `femto` in project directory or by specifying a project will run what we now call `--preview` and logs *what* actions are required for package resolution.
 - Running `femto --resolve` will execute these actions
 - Explicit `--preview` can be removed

[2019-06-28 16:27] #33 closed

[2019-06-28 16:27] #34 closed

[2019-06-28 16:27] #38 closed

[2019-06-28 16:27] #40 closed

[2019-06-28 20:44] Zaid-Ajaj opened #43 "Running project analysis always returns FemtoResult.ValidationSucceeded"
It should fail with `FemtoResult.ValidationFailed` if one of the resolution actions are `ResolveAction.UnableToResolve`

[2019-06-28 20:49] #43 closed

[2019-07-01 09:57] Zaid-Ajaj opened #45 "Run `dotnet restore` before project analysis and resolution"

[2019-07-01 11:11] Zaid-Ajaj commented on #45
Actually not needed because it is already [there](https://github.com/Zaid-Ajaj/Femto/blob/master/ProjectCracker.fs#L210-L215)

[2019-07-01 11:11] #45 closed

[2019-07-11 19:55] nojaf opened #46 "Work with paket.dependencies"
Hi @Zaid-Ajaj , in my current setup I'm not using an fsproj but an [fsharp script in combination with Paket](https://axxes.com/en/net/compiling-f-scripts-with-fable-2-2/).

It would be nice if femto can look at my `paket.dependencies` and figure it out.
For example:
[code]

[2019-07-11 22:33] Zaid-Ajaj commented on #46
Hello Florian,

This might actually prove difficult to accomplish because Femto currently doesn't look at paket.dependencies because that would only give the *direct* dependencies and we need the *transitive* ones. Of course we can parse the lock file to get the transitive dependencies as well but that is not enough because we still need to locate the actual source code of the required Fable packa

[2019-07-12 19:16] nojaf commented on #46
Hi, what if we parse an fsx  file instead?
[Similar to how Fable does this.](https://github.com/fable-compiler/Fable/blob/master/src/Fable.Cli/ProjectCracker.fs#L125)

[2019-07-12 20:26] Zaid-Ajaj commented on #46
Oh if that already gives us a `CrackedProject` then that's all we need to get it up and running with Femto :smile: PR maybe?

[2019-07-12 21:24] nojaf commented on #46
Looks like it is [almost](https://github.com/Zaid-Ajaj/Femto/blob/master/ProjectCracker.fs#L52) already there 😋.
I'll try to create a PR in the coming weeks.

[2019-07-23 12:27] alfonsogarciacaro opened #47 "Using Femto as a library"
This is an awesome tool! Thanks and congratulations to you both @Zaid-Ajaj and @MangelMaxime!

Did you get feedback about people using it? I'm assuming it's probably much easier for users if Femto is run automatically by Fable instead of adding an extra build step... Yes, I know I said I didn't want to add this kind of features to Fable, but if you maintain the tool and Fable just needs to call it

[2019-07-23 12:30] alfonsogarciacaro commented on #9
![image](https://user-images.githubusercontent.com/8275461/61712292-4ea8f880-ad56-11e9-8769-dda9d4d900ae.png)

[2019-07-23 13:23] MangelMaxime commented on #47
This means that Femto would be a requirement for Fable now.

Should Fable stop if Femto detects an invalid configuration?

If Femto is embedded in Fable, how will the user launch Femto resolution mechanism?

[2019-07-23 14:07] alfonsogarciacaro commented on #47
Yes, Femto would be a Fable dependency. But for now I'm just thinking to make it a very soft one and we can see if it's worth to tighten the integration later. Something like:

1. Fable calls `dotnet restore` (it does it right before parsing .fsproj)
2. Fable now calls Femto
3. Femto does its magic
4. If a problem is detected, Femto emits a warning (but Fable doesn't stop) and shows brief instruct

[2019-07-23 14:16] MangelMaxime commented on #47
We could make Fable call the Femto CLI so the user can invoke the Femto CLI himself if needed. And activate Femto using a `Femto: true` in the Fable config for example.

That's where I have a problem. Unless Fable output the warning in the webpack log so the user got the info easily. Because if this is at the beginning it can be out of sight for example, Fable compile more than 60 files in my proj

[2019-07-23 14:48] Zaid-Ajaj commented on #47
Thanks @alfonsogarciacaro happy to hear from you, it's been a while :smile:

We can publish it as a library but I would need expose the functions that don't log anything to the console and instead generate just the required resolution actions (already there).

There is also the option to include the compiled binaries and call it as an external CLI tool the same way you call Fable but extra informa

[2019-07-23 14:49] Zaid-Ajaj commented on #9
The feels .... thanks @alfonsogarciacaro 😭

[2019-07-23 14:50] Zaid-Ajaj commented on #47
BTW Femto does `dotnet restore` as part of project cracking too but doesn't log anything to the console about it

[2019-07-24 07:08] MangelMaxime opened #48 "Femto doesn't work if the project is in a sub folder"
If you try running `femto` from the root of [Fable.React](https://github.com/fable-compiler/fable-react/tree/remove_react_dom) repo it fails to analyze the project.

If I move under `src` folder then it's working.

**Logs:**

[code]

[2019-07-24 07:51] Zaid-Ajaj commented on #48
I can reproduce the problem but it goes away if you use `./src/{Project}` instead of `src/{Project}` maybe we can detect it and add `./` in the beginning of the path?

[2019-07-24 08:16] MangelMaxime commented on #48
I guess so or perhaps there is a `normalize` path function in .Net available.

[2019-07-24 08:27] Zaid-Ajaj commented on #48
Yeah there is already one `Path.normalizeFullPath` but we are using `Path.GetFullPath` instead, see [here](https://github.com/Zaid-Ajaj/Femto/blob/master/Program.fs#L1036)

[2019-07-24 08:43] Zaid-Ajaj opened #49 "Funny business occur when validating a non-existing package"
Femto shows the help guide 😅  if you validate a project that has a npm package that does not exist:

[code]

now validating the project gives logs
[code]

cc @MangelMaxime

[2019-07-24 09:44] MangelMaxime opened #50 "Femto validate is not consistent"
`femto validate` seems to looks for a `package.json` while it's not needed and this also result in a different output between a repo with or without `package.json` .

**With package.json**

[code]

**Without package.json**

[code]

`femto validate` should not try to look for `package.json` and neither restore the `package.json`.

If should just run `npm show <package> versions --json` directly and

[2019-07-24 09:45] MangelMaxime commented on #49
Will take a look at it.

[2019-07-24 09:45] MangelMaxime commented on #50
Will take a look at it.

[2019-07-24 12:01] MangelMaxime commented on #50
Ok, so the problem is that the latest version of Femto that has been published isn't representative of the master branch.

For example, in master branch I do have the final validation result logged [source](https://github.com/Zaid-Ajaj/Femto/blob/master/Program.fs#L916-L921).

And when I executed a local version of Femto build from master branch I do have, the correct logs:

[code]

And we are ind

[2019-07-24 12:01] #50 closed

[2019-07-24 12:16] MangelMaxime commented on #50
Ah no, the problem is that I am invoking `femto validate file.fsproj`  instead of `femto --validate file.fsproj`.

Note the missing `--` ... So it's possible that Femto `0.4.2` was correct. Sorry 😅

So finally, I am not sure if I am a fan of the default command. 🤔

[2019-07-24 12:42] #48 closed

[2019-07-24 13:27] Zaid-Ajaj commented on #50
Femto 0.4.2 didn't require package.json, I saw the your command doesn't contain `--` but I assumed Argu understands it anyways 😅

![femto](https://user-images.githubusercontent.com/13316248/61797090-0c032100-ae27-11e9-8520-5872a9927aa9.png)

I am not sure either, but here is a suggestion: when `femto` is executed against a project, check if the project has `NpmDependencies` tag, if the project doe

[2019-07-24 13:39] MangelMaxime commented on #48
I didn't touch the helpers `Path.normalizeFullPath` because it's used for cracking the project and I am not sure if they really wanted to treat them like a real relative path.

So instead, of changing the `Path.normalizeFullPath` and co which seems to be specific to XML path handling, I used directly the `IO.Patch` API which treats file path on the system correctly.

[2019-07-24 13:50] MangelMaxime commented on #50
It doesn't work when you run it against the library which doesn't add metadata. For example, `Fable.Elmish.React` will not include any metadata. And the developer can still want to run `femto --validate` to check that the transitive dependencies can be resolved without conflict.

[2019-07-24 14:24] Zaid-Ajaj commented on #50
Hmm, I think as a library author, you should assume that the libraries you depend upon have proper npm metadata (the same way you don't write unit tests for functions of the library you depend upon) But again someone can just `femto --validate` to be explicit that you want to validate but as a default it does what I explained above

[2019-07-24 14:34] MangelMaxime commented on #49
It's printing the help message because of the `try ... with` [here](https://github.com/Zaid-Ajaj/Femto/blob/master/Program.fs#L1072-L1086)

I added it because by default Argu:

I configure that behaviour to stop throwing an exception. Like that if we have an unhandled exception it will bubble up and can help the user understand the problem.

I am also adding a check for 404 error now that we are a

[2019-07-24 17:30] MangelMaxime commented on #47
I discovered today that resolving one package version takes around 0.7 seconds which means if we have 10 packages to will take 7 seconds to complete.

These results are calculated using `npm` (yarn takes around 0.4 seconds to resolve a package).

So I am not sure if this is a good idea to run Femto from Fable. I think it should be the user who runs `femto` when he set up/upgrade libraries his deps

[2019-07-24 21:31] #49 closed

[2019-07-25 15:42] cmeeren opened #52 ">= was escaped"
Just want to let you know that VS seemed to auto-escape `>` in `>=` at one point, causing `>=` to become `&gt;=`. I think it happened when adding another file to the project.

Perhaps `gt`/`gte`/etc. should always be used, never `>`/`>=`/etc.?

[2019-07-25 16:06] MangelMaxime commented on #52
Original discussion about the implementation can be found here: https://github.com/Zaid-Ajaj/Femto/issues/7

[2019-07-25 16:34] #52 closed

[2019-07-25 16:36] Zaid-Ajaj commented on #52
Thanks a lot @cmeeren for filing the issue, it should now be fixed as of v0.5.2 where the version escaped by Visual Studio will be parsable/compatible by Femto :smile:
[code]

[2019-07-25 16:39] cmeeren commented on #52
Great! But IMHO something should also be added to the readme. Either a note that it's okay to keep VS's rewrites, or that `gte` etc. should be used to avoid the rewrite.

[2019-07-25 16:53] Zaid-Ajaj commented on #52
@cmeeren Done! see README :smile:

[2019-07-25 17:53] cmeeren commented on #52
Huzzah! 🎉

[2019-09-03 23:43] Zaid-Ajaj opened #53 "Femto v0.5.2 getPackageVersions fails when using yarn v1.16.0"
Running `femto` or `femto --resolve` doesn't seem to work with yarn as of latest version of Femto 0.5.2, the function [getPackageVersions](https://github.com/Zaid-Ajaj/Femto/blob/master/Program.fs#L165) fails retrieving the package information.

The problem can be reproduced by starting from a fresh SAFE template, adding a package with Femo-compatible metadata (Elmish.SweetAlert, Feliz etc.) and r

[2019-09-04 08:52] MangelMaxime commented on #53
I wasn't able to test it against SAFE template because I have no idea how to run paket in it.

So I tested it against `fulma-minimal`:

1. `dotnet new -i Fable.Template.Fulma.Minimal`
2. `dotnet new fulma-minimal -lang F#`
3. Add `Elmish.SweetAlert` by editing paket files
4. Run `paket update`
5. Run `femto`
6. It works

I tested it with my old version of yarn which was something like `1.12.x` and

[2019-09-04 10:09] Zaid-Ajaj commented on #53
Thanks @MangelMaxime for checking, I guess I can assume Femto doesn't work for newer versions of yarn, it might have something to do with the exit code that yarn returns, I will check

[2019-09-04 10:25] MangelMaxime commented on #53
I tested with the latest version `1.17.3` so no you can't assume that :) Unless, my reproduction is wrong.

[2019-09-04 10:32] Zaid-Ajaj commented on #53
@MangelMaxime Looks like I can't read properly today :joy: OK I will assume it doesn't work on my machine for yarn 1.16 which is fine!

[2019-09-22 12:13] Zaid-Ajaj opened #54 "[Feature] Introduce one "install" command to rule them all"
Introduce `install` command that unifies package installation between nuget and paket, then executes `--resolve` afterwards to install potentially required npm packages.

### Workflow of `femto install <package>`

### 1 - Paket
Detect paket usage by checking the existence of `paket.references` file. if the file exists then check which dependency group should be used by parsing the first line of th

[2019-09-22 14:23] MangelMaxime commented on #54
In general, I am in favour of having a tool that does only one job, the same goes for libraries, etc. So I think Femto should be focused only on checking the npm dependencies validity.

Also, paket is not always installed as a global tool. People can install it under `.paket/paket.exe` or even at the root of their repo, etc.

It seems easy to break the paket installation check.

[2019-09-22 14:38] Zaid-Ajaj commented on #54
In general, I agree but existing tools make it complicated to install a package, depending on the project structure, there different ways to do the same thing with variables :
[code]
I want to abstract that away and lower the entry barrier when it comes to installing packages.

We can recursively search for a .paket/paket.exe file since `paket.dependencies` file is always sibling to `.paket` direc

[2019-09-23 13:09] alfonsogarciacaro commented on #54
My comment is usually the same :) This will likely be considerable work and force you to keep Femto in sync with the changes in other tools that don't know about Femto, so it will increase the maintenance burden... but if you're up for the challenge I won't stop you :wink:

[2019-09-25 13:26] Zaid-Ajaj commented on #53
I figured it out, in the code we check whether the `Error` of yarn process is empty but on my windows it is not empty: it shows a warning about an API being experimental, it is an easy fix.

[2019-09-25 15:06] #53 closed

[2019-09-25 15:06] #54 closed

[2019-09-25 16:10] Zaid-Ajaj commented on #54
It is here, see [this tweet](https://twitter.com/zaid_ajaj/status/1176888288621334528)

[2019-09-26 15:18] Zaid-Ajaj opened #56 "Feature: Add "femto uninstall <package>""
Just like `femto install <package>`, calls either dotnet or paket to remove a package but without `--resolve` because we don't know which npm packages are used outside the project that removes the nuget package

[2019-09-26 21:34] #56 closed

[2019-09-26 21:40] Zaid-Ajaj commented on #56
Pushed as of 0.7.0 to play around with it

[2019-09-26 21:41] Zaid-Ajaj commented on #46
Heyy @nojaf any (planned) progress on this one? :smile:

[2019-09-27 05:23] nojaf commented on #46
Hey Zaid, I sorta lost track of this. Nothing planned for the moment. Maybe close this issue and let's reopen if other people are interested.

[2019-09-27 09:21] Zaid-Ajaj opened #58 "Try lookup globally installed paket on non-windows machines when .paket/paket.exe exists but mono isn't installed"
When calling paket on non-Windows machines, Femto starts by looking up the directory .paket/paket.exe and invokes the paket program using mono. The situation now is that if mono isn't installed then the process fails. Make it a bit more robust by checking whether mono exists first and try lookup and use the globally installed paket if mono doesn't exist or fails to to run paket

[2019-09-27 09:22] Zaid-Ajaj commented on #46
Sounds good to me :smile: Thanks for quick reply

[2019-09-27 09:22] #46 closed

[2019-09-27 09:25] Zaid-Ajaj commented on #47
@alfonsogarciacaro Any feedback on this issue? I agree @MangelMaxime that it is probably not a very good idea to run femto on every compilation and that running it by hand will most likely be the easiest route (now even easier with `femto install <package>` and `femto uninstall <package>` )

[2019-09-27 11:57] alfonsogarciacaro commented on #47
Yeah, if it's going to make the build slower and the warnings can easily get out of sight probably it's not worth it. I'll close the issue, thanks a lot for your answers!

[2019-09-27 11:57] #47 closed

[2019-10-28 09:54] masq6r opened #59 "Compatible issue with dotnet v3.0"
Installed by issuing `dotnet tool install femto --global` and run `femto` but the error pops up:
[code]

Env:
[code]

[2019-10-28 15:04] Zaid-Ajaj commented on #59
Hello there @masq6r,
This looks like an issue where you are trying to restore a netcoreapp2.2 version but it isn't working (regardless of Fable/node.js versions). Can you please check whether `dotnet restore` works by itself first? Thank you!

[2019-10-28 15:12] masq6r commented on #59
Unfortunately it's not working. To reproduce the issue:

1. Clone fable2-samples.
2. Go to `browser` and `npm install`.
3. Go to `browser/src' and `dotnet restore`.
3. Issue `femto` command (`femto` was just installed for the user prior to this). You'll see the error message.

I have only one `dotnet` SDK installed which is 3.0.100.

[2019-10-28 15:43] Zaid-Ajaj commented on #59
Hmm I am not able to reproduce the issue:

![2019_10_28_16_40_35_Administrator_Developer_Command_Prompt_for_VS_2017](https://user-images.githubusercontent.com/13316248/67693397-e6dffa80-f9a1-11e9-9d7f-3130917977a1.png)

Maybe I need to publish a new version that targets netcoreapp3.0?

[2019-10-28 17:04] Zaid-Ajaj commented on #59
This is just me forgetting to match the version number in the code (what you see in the terminal) with the version of the published nuget. I just fixed that now and published a new version as of 0.8.1 with target framework netcoreapp3.0, can you take you for a spin to see if it resolves your issue?

[2019-10-28 22:18] masq6r commented on #59
Thank you very much. I confirm that the fix is valid.

[2019-10-28 22:25] #59 closed

[2019-11-06 18:37] cmeeren opened #60 "Switch from checkmark to V?"
Is that "V" intended to be a checkmark? Perhaps you could use [an actual checkmark, or an emoji](https://www.alt-codes.net/check-mark-symbols.php)? It would make it more clear, I think.

![image](https://user-images.githubusercontent.com/7766733/68326940-b0eef480-00cc-11ea-8c76-53f2643a03d6.png)

[2019-11-06 18:40] cmeeren opened #61 "Check all projects in solution"
It seems that currently, `femto` must be used for each project separately. It would be great if it could be used for all projects in a solution, and/or recursively for all projects in a subfolder.

[2019-11-06 18:41] Zaid-Ajaj commented on #60
Looks like a check mark to me, not sure why it becomes a V on your machine

![Untitled](https://user-images.githubusercontent.com/13316248/68327293-57d39080-00cd-11ea-9961-b041f32e8ff2.png)

[2019-11-06 18:43] cmeeren commented on #60
Strange. In any case, the ✅ checkmark is a lot easier to see. What do you think about using that? And if you have any "X"-es, perhaps use a corresponding icon?

[2019-11-06 18:49] Zaid-Ajaj commented on #61
Hmm that will require quite a considerable amount of work to make Femto apply analysis or resolution to multiple projects because now it is made to run for a single project.

Looks like you would a wrapper on top of the current program runner that takes a solution as input or directory, then analyses each project separately.

It is is definitely doable, a PR would great!

[2019-11-06 18:52] Zaid-Ajaj commented on #60
I used the check mark and close icons from Mocha test results because I thought these would usually look the same on very different computers. I don't mind changing it though, PRs are welcome ;)

[2019-11-06 18:58] cmeeren commented on #60
I will make a PR for ✔, which has "visual parity" with ❌ if it's needed. Then we can see how that works. In the code it looks very similar, so I'm unsure how it will be in the console.

[2019-11-07 17:07] cmeeren commented on #60
Now I just get `?`, both with Cmd and Powershell (standalone or in Windows Terminal Preview).

[2019-11-07 17:51] Zaid-Ajaj commented on #60
I guess it has to something to do with your terminal man :/

[2019-11-07 18:49] MangelMaxime commented on #60
I think your terminal doesn't support the full range of "Unicode" or something like that.

For example, it was (still is?) one of the arguments for using a terminal emulator like `Cmder` & co.

[2019-11-07 21:19] cmeeren commented on #60
Yep. I thought Windows Terminal Preview would support this, but I guess there's more to it than that.

[2019-11-08 07:29] cmeeren commented on #60
No, there must be something else going on here. Windows Terminal preview has no problems showing a folder named `✔` using `dir`. Any ideas?

![image](https://user-images.githubusercontent.com/7766733/68457913-c7e33300-0201-11ea-962f-99054af5c205.png)

[2019-11-08 16:32] 0x53A commented on #60
you might have to set the output encoding to utf8 in main

[2019-11-08 16:43] Zaid-Ajaj commented on #60
@cmeeren Can you please experiment with the advice from @0x53A? I am unable to reproduce and it is a lot of guess work if had to publish a new version with every change for testing.

To test femt
[code]
And you should see the results of your changes

[2019-11-08 19:30] cmeeren commented on #60
That worked!

[code]

[2019-11-08 21:16] #60 closed

[2019-11-08 21:18] Zaid-Ajaj commented on #60
Added the patch as of Femto v0.8.3 🚀 @cmeeren can you please take it for a spin?

[2019-11-08 21:34] cmeeren commented on #60
Works great, thanks! 👍

[2020-01-13 20:42] semuserable commented on #36
Hey @Zaid-Ajaj!

I was interested in the current issue, but I'm not sure if my style or my approach would be valid for your project.

I just created a sample code for one part where `Newtonsoft.Json` is used and I would like you to have a look at it. I just want to make sure that my code is something that you could merge :)

In order to not clutter this post I'll include number lines where I thoug

[2020-01-13 21:44] Zaid-Ajaj commented on #36
Hello @semuserable, I am really glad to hear that you want to pick this up!

The code above looks good, though I am not a big fan of the `||>` operator since its use here is unnecessary. I would simplify `createInstalledPackage` and `createInstalledPackages` into a single function:
[code]

[2020-01-14 08:09] semuserable commented on #36
@Zaid-Ajaj you're absolutely right about `kvp.Value|Key` (I refactored it just before posting). Also, thanks for the proposed refactoring!

[2020-01-16 16:01] #36 closed

[2020-02-12 19:43] cmeeren opened #64 "Trouble resolving prereleases?"
In [https://github.com/cmeeren/fable-elmish-electron-material-ui-demo](cmeeren/fable-elmish-electron-material-ui-demo), I had installed a `Feliz.MaterialUI` version that had the following in its `fsproj`:

[code]

In the Electron project's `package.json`, the version was pinned to a lower one:

[code]

When I ran `femto --resolve`, it insisted that everything was OK, even though the `package.json`

[2020-02-12 20:01] Zaid-Ajaj commented on #64
What does `femto --validate` do if you run it against `Feliz.MaterialUI`? Maybe the version syntax that ends with `-{prerelease}.{n}` confuses the SemVer parser of Femto

[2020-02-12 20:03] cmeeren commented on #64
[code]

[2020-02-12 20:05] cmeeren commented on #64
Note that another, but possibly related, bug is that femto accepts higher versions, e.g. if `4.0.0-alpha.41` is installed and the project requires `4.0.0-alpha.40` (using same syntax as shown in OP), it says everything is OK, whereas it shouldn't be (I need to pin the version exactly).

[2020-02-12 20:37] Zaid-Ajaj commented on #64
I has to be the weird syntax of these versions, Femto does version comparison by the library [semver.net](https://github.com/adamreeve/semver.net) which seems able to parse pre-release versions. However, I am looking at the [docs](https://github.com/adamreeve/semver.net#pre-release-versions) now and I see this:
[code]
I don't why this is the case, this version should satisfy the range, right?

[2020-02-13 08:59] cmeeren commented on #64
I don't know. In the specific case of @material-ui/lab, I know that all increments (e.g. from 4.0.0-alpha.40 to 4.0.0-alpha.41) generally contains breaking changes.

[2020-02-13 09:01] Zaid-Ajaj commented on #64
I will try to debug it soon locally and try to inspect the intermediate Version list that is being matched against (unless you want to take a stab at it)

[2020-02-13 09:02] cmeeren commented on #64
Unfortunately my plate is full and will remain so for quite a while. Thank you! 👍

[2020-02-13 14:10] halcwb opened #65 "Cannot use global paket?"
Tried to use Femto with the SAFE stack template out of the box and ran into:

So, paket is installed as a global tool. When adding paket.exe locally to the .paket folder, it works like a charm.

My local windows 10 dotnet specs:

.NET Core SDK (reflecting any global.json):
 Version:   3.0.100
 Commit:    04339c3a26

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18362
 OS Platform:

[2020-02-13 15:41] Zaid-Ajaj commented on #65
Hello Casper! Femto is able to use the global Paket installation but it detected that there is a *local* paket CLI tool included in the SAFE template.That is why it tried to execute this command:
[code]
But failed. What version of SAFE template are you using?

The failure seems to be because the local dotnet tool hasn't been restored first. I don't think you should add a `paket.exe` into your `.pa

[2020-02-13 16:03] Zaid-Ajaj commented on #65
Using latest SAFE template (v1.20) with latest Femto (v0.8.4) works out of the box correctly without any problems. What versions are you using for both SAFE & Femto?

[2020-02-13 17:46] halcwb commented on #65
SAFE template version 1.20 as well and femto v 0.8.1. So, is this resolved in 0.8.4?

[2020-02-13 17:59] Zaid-Ajaj commented on #65
I can't say for sure, probably best to try it out by  updating your Femto. First uninstall it and then re-install it
[code]
you can verify you have the latest version by calling `femto --validate`

[2020-02-14 10:28] halcwb commented on #65
So, I tried that but no luck. It still needs a local paket.exe.

[2020-02-14 11:27] Zaid-Ajaj commented on #65
Hmm, thanks a lot for trying it out. It is a bit weird thought because the logs say:
[code]
Which is the result of finding a file in `{repo}/.config/dotnet-tools.json` by the function [isPaketInstalledAsLocalCliTool](https://github.com/Zaid-Ajaj/Femto/blob/master/Program.fs#L909-L923). I will have to debug it further, thanks again

[2020-02-14 13:29] halcwb commented on #65
If you want you can have a look on my machine.

[2020-02-14 15:04] Zaid-Ajaj commented on #65
I will debug it first locally, I think I know where it went wrong. Safe stack v2 is now WIP and will include local CLI tools anyway so I am fairly confident it will work there OOTB

[2020-02-19 07:56] halcwb opened #66 "Femto as a local tool?"
I think the use of global tools with dotnet will be [deprecated](https://github.com/fsharp/FAKE/issues/2465). Will this apply to femto as well?

[2020-02-19 09:03] Zaid-Ajaj commented on #66
Hi Casper,

Femto already supports being installed as a local dotnet tool. You can install it locally in your project/solution like this
[code]
then use it with dotnet
[code]

[2020-02-19 09:15] halcwb commented on #66
Ok, great. So, this should be the recommended way?

[2020-02-19 09:20] Zaid-Ajaj commented on #66
Yeah I can add it to the docs to show how to install as a local tool but that doesn't mean that global tools are going away any time soon. Especially in the context of Femto, it makes sense to use it as a global tool on development machines because the functionality is not specific to a single project

[2020-02-20 11:32] #66 closed

[2020-04-20 17:53] MangelMaxime commented on #30
@Zaid-Ajaj Is it something we want to include in Femto scope?

[2020-04-20 19:00] Zaid-Ajaj commented on #30
I think this be solved by introducing a proper package hierarchy:

- One package `FontAwersome.Free` to support the free version which has a dependency on `@fortawesome/fontawesome-free`

- One core package `FontAwesome.SvgCore` which has dependency on `@fortawesome/fontawesome-svg-core` and two more packages as *descendants*:
  - `FontAwesome.FreeSolidSvgIcons` that depends on `nuget:FontAwesome.

[2020-04-20 19:19] MangelMaxime commented on #30
I don't think this is possible to have a proper package hierarchy in the case of FontAwesome.

Or at least not easily and without code duplication. This is probably a really special case because you can use icons from SVG, Font, JavaScript, React bindings, Vue bindings or all at once.

Let's just close this issue for now and see if others package has this need.

The only one know I can think about

[2020-04-20 19:19] #30 closed

[2020-04-20 19:23] Zaid-Ajaj commented on #30
Feliz aims to support only React (Preact can be added using webpack aliases but it not priority of Feliz)

I am all ears :smile:

[2020-05-20 04:54] SCullman opened #67 "Support source path with whitespace"
My project path includes a space, causing femto to fail:
[code]

[2020-05-20 08:45] Zaid-Ajaj commented on #67
Hi @SCullman, it looks like the path need to be escaped if there is a space in it, maybe it should be escaped anyways 🤔 I will look into it

[2020-05-20 12:41] #67 closed

[2020-05-20 12:50] Zaid-Ajaj commented on #67
Should be fixed as of v0.8.6 😄 can you please update and verify that the issue is resolved? thanks!

[2020-05-20 13:08] Zaid-Ajaj commented on #65
Hi Casper, is this issue still not resolved for you for latest safe template? I will close the issue for now. Please re-open if the problem persists

[2020-05-20 13:08] #65 closed

[2020-05-21 10:05] halcwb opened #68 "Femto cannot use local paket"
1. Use the latest SAFE.Template
2. Add femto as a local tool
3. Restore the tools

Then try to add a package using dotnet femto install, I get:

[12:02:13 INF] Analyzing project /Users/halcwb/Development/Informedica/apps/PediatricRiskCalc/src/Client/Client.fsproj
[12:02:13 INF] Running dotnet restore against the project
[12:02:14 INF] Detected paket.references file -> use paket
[12:02:14 INF] Inst

[2020-05-21 18:08] Zaid-Ajaj commented on #68
This is happening with latest femto version `0.8.6`? Interesting, I will investigate it soon

[2020-05-22 12:00] SCullman commented on #67
Yes, it works now. Thanks

[2020-05-23 06:51] halcwb commented on #68
Yes, it's the `0.8.6` version.

[2020-06-06 19:21] atlemann commented on #68
I'm getting this too. I'm on linux if that matters

[2020-06-15 11:23] huwmanatee commented on #68
Same here, on Ubuntu.
Installing Paket globally doesn't resolve either.

[2020-06-24 22:00] brettrowberry opened #69 "femto upgrade"
Would it make sense for there to be a `femto upgrade` that basically calls `dotnet paket upgrade && yarn upgrade`?

[2020-06-25 06:54] MangelMaxime commented on #69
For me, Femto is for working with the `npm` dependencies I don't think I want it to touch my .NET dependencies.

Currently, you can update your .NET dependencies using paket or dotnet. Then you can run `femto resolve` which will resolve and install the correct version of  `npm` dependencies based on the installed .NET dependencies.

Also femto would need to detect if you are using paket or dotnet

[2020-06-25 08:47] Zaid-Ajaj commented on #69
@MangelMaxime Actually Femto does interact with your dotnet dependencies when you run `femto install` or `femto uninstall`.

@brettrowberry An `upgrade` command would be a _nice to have_ though not really needed since you can simply run paket upgrade yourself and then run `femto --resolve` afterwards. NOT `yarn upgrade` because we don't know which packages will be required by the new versions of t

[2020-06-25 08:48] Zaid-Ajaj commented on #68
Question: where do you invoke `dotnet paket` exactly, inside the directory of a project or at the solution level?

[2020-06-25 08:50] MangelMaxime commented on #69
@MangelMaxime Yes, it reads them from what I remember. My wording was a bit wrong I agree :)

[2020-06-25 09:11] halcwb commented on #68
I think I tried this both at the solution level and at the directory level.

[2020-06-25 09:11] huwmanatee commented on #68
I invoke it at the solution level, typically with the --group argument to specify the relevant dependency group.

[2020-06-25 11:12] Zaid-Ajaj commented on #68
Thanks for the answers @halcwb @huwmanatee I will see what I can do. I don't use paket these days so I don't come across these issues personally

[2020-06-25 12:51] brettrowberry commented on #69
That makes sense. So a `femto upgrade` would really be a `paket upgrade` and `femto --resolve`.

[2020-06-25 12:53] brettrowberry commented on #69
And it would only be possible if paket is used, not nuget.

[2020-06-25 13:09] Zaid-Ajaj commented on #69
@brettrowberry Yes only for paket. Unless of course you are feeling extremely adventurous and want to implement the functionality for Femto :smile: No just kidding, this would be like opening a pandora's box

[2020-06-25 14:18] MangelMaxime commented on #69
It would be strange if `femto install` and `femto uninstall` works with paket and dotnet but not `femto update` no?

In theory, we just need to execute `dotnet update` against the specified fsproj or is there something else I don't see?

[2020-06-25 14:21] Zaid-Ajaj commented on #69
@MangelMaxime I don't think dotnet has an `update` command like paket does and it is only per-project.

[2020-06-25 14:26] MangelMaxime commented on #69
Oops didn't know that. 😅

Then we should just warn that it is not supported in the console because the user doesn't use paket. Just so he knows why :) <- Thinking about future me 😂

[2020-06-25 14:31] Zaid-Ajaj commented on #69
lol :joy: yeah absolutely: if we can't find paket then we simply say this is a paket-only feature

[2020-06-25 17:09] brettrowberry commented on #69
Anybody want to pair on this?

[2020-07-22 17:15] 0x53A opened #70 "Failed to retrieve information ... | Add verbose mode?"
![image](https://user-images.githubusercontent.com/4236651/88207047-7d9ac880-cc4f-11ea-91ec-6ea2496daeb0.png)

[2020-07-22 17:16] 0x53A commented on #70
Could it be the warning?

![image](https://user-images.githubusercontent.com/4236651/88207193-b9ce2900-cc4f-11ea-9227-4a40de1b838d.png)

[2020-07-22 18:40] Zaid-Ajaj commented on #70
Yeah I believe so, maybe we should fallback to npm when yarn fails 🤔 (PR would be awesome!)

[2020-07-22 18:47] Zaid-Ajaj commented on #70
The problem should be coming somewhere from [here](https://github.com/Zaid-Ajaj/Femto/blob/master/src/Program.fs#L189-L201)

[2020-07-23 13:31] 0x53A commented on #70
I think the warning is printed to STDERR, so the check ``String.isNullOrEmpty res.Result.Error`` will fail ...

I could just skip lines that start with ``(node:#number#) Warning``?

[2020-10-26 08:21] Zaid-Ajaj commented on #68
Fixed as of v0.8.7

[2020-10-26 08:21] #68 closed

[2021-01-18 14:55] MangelMaxime opened #73 "Femto force user to explictly install a dependencies and not have it as transitive (from npm POV)"
I am working on binding `express` which have a bunch of API coming from other packages.

For example, it use [`mime`](https://github.com/broofa/mime) package. I did bind the Mime API but now I am unsure if I want to add the femto properties in it.

In general, we just do `npm i express` but if I add the femto properties it will ask the user to install it manually in the `package.json` and not have

[2021-02-09 10:00] Zaid-Ajaj commented on #73
Hello @MangelMaxime, sorry for the delayed answer 😅

I don't think you need to specify  `mime` metadata explicitly because it is already included as part of `express`

That won't be needed. Femto only installs packages that aren't already available but in case of transitive dependencies of libraries, they _are_ there and Femto doesn't need to install anything else. Unless _your binding_ requires a

[2021-02-09 13:26] MangelMaxime commented on #73
Hey 👋, no problem I saw that you took a break and hope you enjoyed it :)

Indeed, we don't add the `mime` metadata to `Fable.Express` but in `Fable.Mime` as it's the project binding the `mime` package.

I need to check again I though that Femto was reading the `package.json` file only and not the list of transitive package installed by `npm`/`yarn`. I will come back again to close or complete my a

[2021-02-09 13:44] Zaid-Ajaj commented on #73
I think you are right here. I was just reading the code and Femto does this: reads top level packages from `package.json` and their version range. Then reads their _exact_ resolved versions from `node_modules` and doesn't look at transitive dependencies. I doubt this is a big problem because even if Femto just installs another npm package but it's already there, it shouldn't matter that much from

[2021-02-09 15:44] MangelMaxime commented on #73
Indeed, it is not a problem from the "file system" POV (I don't have a better name for it sorry 😅).

It can be more of a problem from the user POV because he needs to manage the version of a lot more package than they are used too. In our case, the transitive dependencies instead of just `express`.

That's possible indeed 😉

[2021-03-15 04:05] adelarsq opened #74 "Use pnpm instead of npm"
It's possible to configure Femto to use [PNPM](https://pnpm.js.org/) instead of NPM?

[2021-03-15 04:32] Zaid-Ajaj commented on #74
It is possible to add this the same way Femto detects yarn using its lock file. So if a repository has `pnpm-lock.yaml` we could add make the installation commands execute against `pnpm` instead. However, I am not sure if `pnpm list --json` works because that would be how we determine which packages are installed locally since pnpm will not write all packages to `node_modules`.

I don't have a tim

[2021-03-15 11:46] adelarsq commented on #74
Nice!

Thanks @Zaid-Ajaj. I will try to help on this.

[2021-03-22 18:09] AngelMunoz commented on #73
Correct me if I'm wrong but
I think this is known within the pnpm package manager https://pnpm.js.org/faq#pnpm-does-not-work-with-your-project-here
and other cli tools or templates instead of just trying to get those issues fixed in the actual offending packages they tend to include this (the least wanted) solution https://pnpm.js.org/faq#solution-3
which is basically to replicate the flat node mo

[2021-08-23 09:52] alfonsogarciacaro opened #76 "Cannot specify Nuget package version or --prelease mode"
I was trying to install a package but Nuget complains there's only a prerelease version. I cannot see a way to tell femto to install the prerelease version, nor how to pass a specific version (help says that `--version` is to display femto version).

[2021-08-23 10:02] Zaid-Ajaj commented on #76
Hi @alfonsogarciacaro, I believe --version with the install command just fine (last time I checked):

femto install <packageId> --version <version>

[2021-08-23 10:42] alfonsogarciacaro commented on #76
Thanks @Zaid-Ajaj! Ah, ok. The help text confused me because `--version [string]` appears before install and that didn't work. Maybe it could be changed?

[code]

I just realized that if I install `React.Lit` which has a dependency on `Fable.Lit` and only Fable.Lit includes the `<NpmDependencies>` data, Femto cannot recognize and won't install lit-html. So I need to add `<NpmDependencies>` to all

[2021-08-23 12:12] Zaid-Ajaj commented on #76
I will check why version option isn't working.

As for the lit-html metadata, it should definitely be recognized as transitive dependency of React.Lit! For example, if you "femto install Feliz.Recharts" it also recognizes the dependencies of react and react-dom from Feliz because Feliz.Recharts depends on Feliz

Can you check that your metadata is correctly written? Inside the directory of your pa

[2021-09-30 07:03] alfonsogarciacaro opened #77 "Femto reports an error about parsing an unrelated package.json"
For some reason it seems that femto tries to parse a package.json from `node_modules/.vite` and reports an error because it doesn't contain `name` property:

[code]

[2021-09-30 07:18] alfonsogarciacaro commented on #76
The problem seems to be here. Because `apply` is recursive, if `--version` comes before install (as it appears in the help)
 `PackageArgs` is not `Install` and version is not applied: https://github.com/Zaid-Ajaj/Femto/blob/08f2f60c6262b06895ae867ea48ec02dcbb7e887/src/Program.fs#L1588-L1595

I've sent a PR just to fix the help text :+1:

About the other issue, maybe I did something wrong, let me c

[2021-09-30 08:24] #77 closed

[2021-09-30 12:45] alfonsogarciacaro commented on #76
Ok, the help text is fixed and it seems it does install npm dependencies from transitive Nuget dependencies (My mistake! 😅). So we can close this :+1:

[2021-09-30 12:45] #76 closed

[2021-10-14 04:55] alfonsogarciacaro opened #81 "Exit code"
Currently if I run `dotnet femto src` and I'm missing some npm packages, Femto considers the validation to be successful if there are no `UnableToResolve` actions: https://github.com/Zaid-Ajaj/Femto/blob/903553993f9210c0af89f7279b515a7d16ef0c82/src/Program.fs#L869-L878

It'd be nice to have a non-zero exit code in this case. Let's say I have a repo with multiple Fable apps and different developers

[2021-10-24 13:08] Happypig375 opened #84 "Support pip for Fable-to-Python"

[2021-11-17 17:01] kurt-mueller-osumc opened #85 "dotnet tool restore femto results in a nuget error: The repository primary signature validity period has expired."
Currently I can't restore the femto tool:

[code]

[2021-11-17 20:02] Zaid-Ajaj commented on #85
I don't know why v0.9.0 can't be restored to be honest. Can you try restoring the latest version?

[2021-11-17 20:04] kurt-mueller-osumc commented on #85
Sure! I just downloaded the news SAFE Stack template and followed the "Quick Start" instructions.

[2021-11-17 20:06] kurt-mueller-osumc commented on #85
Hey Zaid, it successfully restores but with a warning:

[code]

[2021-11-22 17:12] philderbeast opened #86 "Where to find `package.json`?"
There doesn't seem to be an option to say where to find `package.json`.

[code]

Femto is looking up the directory tree looking for this file.
https://github.com/Zaid-Ajaj/Femto/blob/1bd07d8af31e949c97a364a89a947e28db53ca8a/src/Program.fs#L74-L75

If I need to arrange my source so that this file is in the same directory as my project or in a parent or ancestor directory then can we add a note abou

[2021-11-22 19:58] MangelMaxime commented on #86
I think the `package.json` file can be at the same level as the fsproj or above.

It is the same behaviour as in JavaScript, your JavaScript files can require modules from the package.json which is the nearest start at the same level and going up. The error you had with the Fable templates is that it has been contributed by the community but not checked/tested enough...

[2021-12-12 13:33] #86 closed

[2021-12-30 14:21] njlr opened #88 "Yarn / NPM detection is not aware of workspaces"
Femto should attempt to find the root workspace (if there is one) before deciding to use NPM or Yarn

[2022-02-13 11:50] halcwb opened #89 "femto resolve not working"
When trying to run ``femto --resolve src/Client/Client.fsproj``, I get:

[2022-05-13 16:02] Zaid-Ajaj commented on #88
Hi there @njlr, Femto decides to use the closest `package.json` file it can find, is there a way to automatically detect that a package JSON file is part of a workspace or should we add something like a `--workspace <name>` argument?

In any case, a PR would be much appreciated 🙏

[2022-05-13 16:16] Zaid-Ajaj commented on #89
Hi @halcwb, could you please elaborate more on the issue?
 - is it still valid?
 - can you install the dependencies by hand?

it could be that these *alpha packages are no longer listed in npm and a more stable package is available

[2022-05-13 16:18] Zaid-Ajaj commented on #85
@kurt-mueller-osumc Femto is published to the official package registry `https://api.nuget.org/v3/index.json` and according to your warning, it says there is an "ExplicitDistrust" so I assume this is something from your own system.

Please re-open the issue if you believe that is not the case

[2022-05-13 16:18] #85 closed

[2022-05-13 16:24] #74 closed

[2022-05-13 16:28] Zaid-Ajaj commented on #81
Hi @alfonsogarciacaro, just realized I haven't answered this in a while 😅 what you say makes sense, what do you think about  a new argument `ci` which validates missing packages? i.e.
[code]
which is basically just `femto` but returns exit code 0 when everything is fine

[2022-05-13 16:44] adelarsq commented on #74
@Zaid-Ajaj Thanks! I forgot to answer. It's working!

[2022-05-13 16:49] Zaid-Ajaj commented on #74
@adelarsq Awesome! thanks for confirming 🙏

[2022-05-14 15:08] alfonsogarciacaro commented on #81
I forgot about this too! If you prefer to not make this the default and have it under a flag (still think it'd be nice if Femto exit code followed the usual convention: 0 success, >= 1 some problem), I would rather pick something with more obvious semantics like `--strict`.

Please note the issue is about the exit code, not about throwing an error. If I'm not mistaken, the result code will have no

[2022-06-06 06:39] poborin opened #91 "is there equivalent to femto --update"
Thanks for creating `femto`! It works well and has a few features that I'm using often.

However, there is nothing like `--update`. Meanwhile, what would be the best strategy to replicate an update both Nugets and NPMs?

[2022-06-06 08:48] Zaid-Ajaj commented on #91
Hi @poborin, what do you exactly want `--update` to do, can you please elaborate?

Currently, it is best to update the nuget packages and then run `femto --resolve` which will update the npm dependencies if their requirements have changed when you updated the nuget packages

[2022-06-06 10:39] poborin commented on #91
thanks @Zaid-Ajaj ,

this is exactly what I was looking for. I would assume this would be the best behavior for the `--update` command

[2022-06-20 22:24] fourglobe302500 opened #92 "Can't retrieve information"
I was trying to use femto on my fable app but it keeps on emiting this err

`Failed to retrieve information about react required by Fable.React`

What can I do?

[2022-06-21 14:25] MangelMaxime commented on #92
It seems like yarn changed its format and Femto cannot parse it.

[2022-08-23 13:30] MangelMaxime commented on #92
Hello @fourglobe302500,

someone reported a similar issue to your first problem. Here is my answer with a solution to it.

Note it doesn't explain the error you have in your second message. Do you remember which version of yarn you used?

[2022-08-23 13:59] fourglobe302500 commented on #92
@MangelMaxime the yarn version is 3.2.1 the latest at the time

[2022-08-23 14:05] fourglobe302500 commented on #92
at the current time this issue remains since my package.json does have a license

[2022-08-23 14:18] MangelMaxime commented on #92
@fourglobe302500

Yes, the issue in your case now is that the JSON format is not supported.

Femto was written for yarn 1, so it needs to be updated to support yarn 3 format too.

This is a matter of adapting the decoder here:

https://github.com/Zaid-Ajaj/Femto/blob/f1dd05845ca07dbae8b9df58995a1fb4fa18d940/src/Program.fs#L216

Something like that

[code]

[2022-09-05 15:50] #92 closed

[2022-09-05 15:52] Zaid-Ajaj commented on #89
Closing as stale

[2022-09-05 15:56] Zaid-Ajaj commented on #64
No one has hit this issue for more than 2 years, will be closed as stale

[2022-09-05 15:56] #64 closed

[2022-09-06 18:42] Zaid-Ajaj commented on #84
As of Femto v0.15 we support poetry as the package manager for python. I don't know if we should also support `pip` but at least there is a working solution now 😄

[2022-10-18 10:40] OkayX6 opened #95 "Little bug in help display"
Hi :)

**Femto version**: 0.16.0

When running `dotnet femto install --help` we get a few exception errors.

![image](https://user-images.githubusercontent.com/1169339/196408256-8eb5e31e-389f-4a42-bf49-edead086a51a.png)